@using ContentManagementSystem.Models
@using ContentManagementSystem.Models.ViewModels
@using Umbraco.Cms.Core.Models
@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ArticleViewModel>
@{
    Layout = "Shared/_Layout.cshtml";
}


<a href="/" class="back-link">← Back to Home</a>

<article>
    <h1>@Model.Title</h1>

    @if (!string.IsNullOrEmpty(Model.Author))
    {
        <p><em>Written by: @Model.Author</em></p>
    }

    @if (Model.HeroImage != null)
    {
        <img src="@Model.HeroImage.MediaUrl()" alt="@Model.Title"/>
    }

    @if (Model.ArticleContent != null)
    {
        <div class="content">
            @Html.Raw(Model.ArticleContent)
        </div>
    }
</article>
